table {
  justify-content: flex-start;
  display: flex;
}

table tr {
  border: var(--space-tiny) transparent
}

table th {
  text-align: left;
  padding-right: var(--space-large);
}

table td {
  text-align: left;
}
