<h1 class="index-page__header" >Users List</h1>

<% @users.each do |user| %>
  <div class="card">
    <table>
      <tr>
        <th>Username:</th>
        <td><%= user.username %></td>
      </tr>
      </tr>
      <tr>
        <th>Biography</th>
        <td><%= user.biography %></td>
      </tr>
      <tr>
    </table>
  </div>
<% end %>
